service vendor.light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.msm8953
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    shutdown critical

on boot
    chown system system /sys/class/leds/red/breath
    chown system system /sys/class/leds/red/delay_on
    chown system system /sys/class/leds/red/delay_off
    chown system system /sys/class/leds/green/breath
    chown system system /sys/class/leds/green/delay_on
    chown system system /sys/class/leds/green/delay_off
    chown system system /sys/class/leds/blue/breath
    chown system system /sys/class/leds/blue/delay_on
    chown system system /sys/class/leds/blue/delay_off
