# Chipset-specific file
import /vendor/etc/init/hw/init.mmi.chipset.rc

# Target-specific file
import /vendor/etc/init/hw/init.mmi.overlay.rc

# Moto USB configuration
import /vendor/etc/init/hw/init.mmi.usb.rc

# Carrier specific script
import /vendor/etc/init/carrier/init.${ro.boot.carrier}.rc

on init
    chown system log /sys/fs/pstore/console-ramoops-0
    chmod 0440 /sys/fs/pstore/console-ramoops-0
    chown system log /sys/fs/pstore/annotate-ramoops-0
    chmod 0640 /sys/fs/pstore/annotate-ramoops-0
    chown system log /sys/fs/pstore/dmesg-ramoops-0
    chmod 0640 /sys/fs/pstore/dmesg-ramoops-0

on fs
    start vendor.oem-panel-sh

on post-fs
    mkdir /mnt/vendor/persist/camera 0755 oem_5004 oem_5004
    mkdir /mnt/vendor/persist/camera/dualcal 0775 camera oem_5004
    mkdir /mnt/vendor/persist/camera/focus 0775 camera oem_5004
    mkdir /mnt/vendor/persist/camera/ledcal 0775 camera oem_5004
    mkdir /mnt/vendor/persist/batt_health 0775 oem_5001 oem_5001
    mkdir /mnt/vendor/persist/mdm 0770 radio radio
    mkdir /mnt/vendor/persist/factory 0755 oem_5004 oem_5004
    mkdir /mnt/vendor/persist/factory/audio 0755 oem_5004 system
    mkdir /mnt/vendor/persist/factory/wlan 0755 oem_5004 oem_5004
    mkdir /mnt/vendor/persist/factory/regulatory 0755 oem_5004 system
    mkdir /mnt/vendor/persist/public 0755 oem_5004 oem_5004
    mkdir /persist/public/atvc 0770 oem_5012 shell
    mkdir /mnt/vendor/persist/public/att_dm 0775 radio oem_5004
    mkdir /mnt/vendor/persist/public/hiddenmenu 0775 radio oem_5004
    mkdir /mnt/vendor/persist/public/hiddenmenu/data 0775 system oem_5004
    mkdir /persist/public/locale 0700 system system
    mkdir /persist/public/omadm 0700 radio radio
    mkdir /persist/public/svcs 0770 system system
    mkdir /mnt/vendor/persist/wifi 0755 oem_5004 oem_5004
    mkdir /mnt/vendor/persist/bt 0755 oem_5004 bluetooth
    mkdir /mnt/vendor/persist/wmdrm 0775 oem_5003 oem_5003
    mkdir /persist/public/usc_dm 0775 radio radio
    mkdir /persist/sds 0700 vold vold
    mkdir /mnt/vendor/persist/rfs/msm/mpss/mot_rfs 0771 rfs system

    # This dir is used to store any OMA(both DM and CP) files in persist partition
    # Any app with radio UID or oem_5004 GID can read/write/execute files in this dir.
    mkdir /mnt/vendor/persist/public/oma 0775 radio oem_5004

    chown oem_5004 oem_5004 /mnt/vendor/persist/factory/fti
    chmod 0664 /mnt/vendor/persist/factory/fti
    chown oem_5004 oem_5004 /mnt/vendor/persist/factory/byte
    chmod 0660 /mnt/vendor/persist/factory/byte
    chmod 0660 /mnt/vendor/persist/wifi/wlan_mac.bin
    chown oem_5004 oem_5004 /mnt/vendor/persist/bt/bt_bdaddr
    chmod 0664 /mnt/vendor/persist/bt/bt_bdaddr

    # Set life_calls and life_timer file permissions
    chown radio oem_5004 /mnt/vendor/persist/public/hiddenmenu/life_calls
    chmod 0775 /mnt/vendor/persist/public/hiddenmenu/life_calls
    chown radio oem_5004 /mnt/vendor/persist/public/hiddenmenu/life_timer
    chmod 0775 /mnt/vendor/persist/public/hiddenmenu/life_timer

    chmod 0711 /mnt/vendor/persist/rfs
    chmod 0711 /mnt/vendor/persist/rfs/msm
    chmod 0711 /mnt/vendor/persist/rfs/msm/mpss
    chmod 0771 /mnt/vendor/persist/rfs/msm/mpss/mot_rfs

    swapon_all /vendor/etc/fstab.qcom
    write /proc/sys/vm/page-cluster 0 

    # Set capsensor calibration sysfs for MDMCTBK
    chown radio radio /sys/class/capsense/calibrate
    chmod 0660 /sys/class/capsense/calibrate

on post-fs-data
    # Setup folders for security
    mkdir /mnt/vendor/persist/security 02770 drmrpc drmrpc
    mkdir /data/vendor/dbvc 0750 oem_5004 shell
    chown drmrpc oem_5004 /mnt/vendor/persist/security

    # Setup folder for Pre-Activation Kill Switch app (PAKS)
    mkdir /mnt/vendor/persist/paks 02770 oem_5004 oem_5004

    # Create directory used by power_supply_logger
    mkdir /data/vendor/power_supply_logger 0750 oem_5001 log
    # Create directory power_supply_logger used by memtest and batt_health
    mkdir /data/vendor_de/power_supply_logger 0770 root log

    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_rechrg_start_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_rechrg_stop_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_attach_start_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_attach_stop_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_low_start_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_low_stop_soc
    chown root oem_5020 /sys/module/qpnp_smbcharger_mmi/parameters/eb_on_sw

    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_rechrg_start_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_rechrg_stop_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_attach_start_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_attach_stop_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_low_start_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_low_stop_soc
    chmod 0664 /sys/module/qpnp_smbcharger_mmi/parameters/eb_on_sw

    chown root oem_5020 /sys/class/power_supply/usb/usb_priority
    chmod 0660 /sys/class/power_supply/usb/usb_priority
    chown root oem_5020 /sys/module/dwc3_msm/parameters/usb_priority
    chmod 0660 /sys/module/dwc3_msm/parameters/usb_priority

    # Setup folder for native to transfer data to NativeDropBoxAgent
    mkdir /data/vendor/dropbox-add 0730 log diag

    # Create panic dump dir.
    mkdir /data/vendor/dontpanic 0750 root log

    # Create directory for cutback
    mkdir /data/vendor/misc/cutback 0770 radio wifi

    # Create directory for fm_radio
    mkdir /data/misc/fm_radio 0770 system system

    # Create bug2go folder
    mkdir /data/vendor/bug2go 0770 log log

    # Setup folder for aplogd
    mkdir /data/vendor/aplogd 0750 log log

    # Create directory used by chargeonlymode
    mkdir /data/vendor/chargeonly 0750 root log

    # Subsystem RAM-dumps
    mkdir /data/vendor/ss-ram-dumps 0750 system log
    mkdir /data/vendor/ss-ram-dumps/bp-dumps 0750 system log
    mkdir /data/vendor/ss-ram-dumps/riva-dumps 0750 system log

    # folder for Blueooth ramdump
    mkdir /data/vendor/bt-ram-dumps 0750 bluetooth log

    #Folder for hardware properties
    mkdir /data/vendor/hardware_revisions 0755 system system

    # Imager tuning data for camera subsystem
    mkdir /data/vendor/misc/imager 0771 camera camera

    # NFC vendor data
    mkdir /data/vendor/nfc 0770 nfc nfc

    # Required by FingerPrint Cards (FPC) via init so we don't need to give qseecomd or fingerprintd permissions to create them
    mkdir /data/vendor/fpc 0700 system system
    mkdir /data/vendor/.fps 0770 system fingerp

on boot
    # MOTO, NJH348, IKHALFMWK-1864, change system max tcp buffer sizes based on RAT changes
    # Define system changable TCP buffer max values
    chown system system /proc/sys/net/core/rmem_max
    chown system system /proc/sys/net/core/wmem_max

    # Change ownership and permission for vibrator
    chown system system /sys/class/timed_output/vibrator/enable
    chmod 0660 /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/leds/vibrator/state
    chmod 0660 /sys/class/leds/vibrator/state
    chown system system /sys/class/leds/vibrator/activate
    chmod 0660 /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/duration
    chmod 0660 /sys/class/leds/vibrator/duration
    chown root oem_5020 /sys/bus/i2c/devices/2-005a/reduce

    # Change ownership of aov related sysfs entries
    chown audio audio /sys/kernel/aov/trigger
    chown audio audio /sys/kernel/aov/register
    chown audio audio /sys/kernel/aov/event

    # Quiet binder logs
    write /sys/module/binder/parameters/debug_mask 0x5

    # Clear cooldown state
    mkdir /mnt/vendor/persist/chargeonly 0770 system system
    write /mnt/vendor/persist/chargeonly/cooldown n
    chown system system /mnt/vendor/persist/chargeonly/cooldown
    chmod 0660 /mnt/vendor/persist/chargeonly/cooldown

on charger
    trigger early-fs
    trigger fs
    trigger post-fs
    trigger late-fs
    trigger post-fs-data
    trigger moto-charger
    class_stop main
    class_stop late_start

# translate MMI property in order to keep the consistent with QCOM
on property:ro.vendor.hw.dualsim=true
    setprop persist.radio.multisim.config dsds

on property:ro.vendor.hw.dualsim=false
    setprop persist.radio.multisim.config ""

service vendor.oem-panel-sh /vendor/bin/init.oem.panel.sh
    class core
    user root
    oneshot
    disabled

service vendor.charge_only_mode /vendor/bin/charge_only_mode
    user root
    group graphics system input
    disabled

service vendor.thermal-com /vendor/bin/thermal-engine --minimode
    class main
    user root
    disabled

service vendor.adspd /vendor/bin/adspd
    class main
    socket adspdsock stream 0660 system audio
    user audio
    group audio input diag

on property:vendor.wifi.tethering=false
    write /sys/module/wlan/parameters/sar_mhs disabled

on property:vendor.wifi.tethering=true
    write /sys/module/wlan/parameters/sar_mhs enabled

#Override fwpath string when wpa_supplicant server was killed
on property:vendor.wifi.station=true
    write /sys/module/wlan/parameters/sar_sta enabled

on property:vendor.wifi.station=false
    write /sys/module/wlan/parameters/sar_sta disabled

